body{
    margin: .5rem;
    padding: .5rem;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

.header{
    display: flex;
    background-color: #114c50;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 0.8rem;
    padding-top: 2rem;
}

.footer {
    background-color: #114c50;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: .9rem;
    margin-top: 2rem;
}

.footer span {
    text-decoration: underline;
}


* {
    box-sizing: border-box;
}

.card {
    background-color: #d3d3d3;
    max-width: 95%;
    border-radius: 2rem 2rem 0 0;
    justify-self: center;
}

.card h2 {
    background-color: #1b7e85;
    display: block;
    padding: 20px 20px 20px 20px;
    border-radius: 2rem 2rem 0 0;
    text-align: left;
    color: #f7f7f7;
    width: 100%;
    margin: auto;
}

.card h3 {
    text-align: left;
    padding: 20px;
}

.card img {
    width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 0px 20px 20px 20px;
    display: block;
    margin: 10px auto;
    width: 100%;
    text-align: left;
    border-radius: 100px;
}

.card p {
    text-align: justify;
    padding: 0px 10px;
    line-height: 1.4rem;
    font-size: 1.2rem;
}