* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

body,
.cards,
.service-section {
  background-color: #fff;
}

h1, h2, h3, h4 {
  font-family: Lora;
}

p {
  font-family: Montserrat;
}


header,
main,
footer,
form * {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

header,
main,
footer {
  text-align: center;
}

header {
  font-size: 40px;
}

header picture img,
nav ul.open,
nav ul li a,
.footer-nav ul li a,
#hamburgerBtn.open span:nth-child(2),
.hero img,
.boundary img,
form label.top,
form label.top *,
form textarea,
form input.reserveBtn,
.services .cards div:last-child picture img,
footer img {
  display: block;
}

header picture img,
.reserveBtn {
  margin: 0 auto;
}

nav {
  margin: auto 0;
  grid-row: 3;
}

nav,
nav ul li a,
#hamburgerBtn:hover,
.active,
.hero-container a,
.weather,
.reserveBtn,
.service-section form input:nth-child(6),
footer,
.info p a,
.alert button:hover {
  color: #EDF5E1;
}

.footer-nav ul li.active a,
.footer-nav ul li a:hover {
  color: #5CDB95;
}

nav ul li a:hover,
.service-section,
.footer-nav,
.footer-nav ul li a,
footer div:nth-child(3) p,
footer div:nth-child(3) p a {
  color: #EDF5E1;
}

nav,
#hamburgerBtn:hover,
.footer-nav ul li:hover,
.hero-container a:hover,
.service-section form input:nth-child(6),
.weather,
.reserveBtn,
.alert button:hover {
  background-color: #05386B;
  color: #5CDB95;
}

nav ul,
.footer-nav ul,
.room ul li,
.service-section ul li {
  list-style: none;
}

nav ul,
#hamburgerBtn span:nth-child(2),
#hamburgerBtn.open span:nth-child(1),
.hidden,
.footer-nav {
  display: none;
}

nav ul li a,
.logo,
.social-media,
.info,
.hero-container a,
.room,
.thanks .cards,
.service-section h2,
.weather,
.weather div,
.weather div:first-child img,
footer div:nth-child(odd) {
  padding: 10px;
}

nav ul li:hover,
.nav-bar,
#hamburgerBtn,
footer,
.alert button {
  border: none;
}

nav ul li:hover,
.nav-bar,
#hamburgerBtn,
.alert button,
footer,
header {
  background-color: #05386B;
}

nav ul li a,
.hero-container a,
.footer-nav ul li a,
footer div:nth-child(3) p a,
.info p a {
  text-decoration: none;
}

nav,
h1 {
  font-size: 30px;
}

h2,
#hamburgerBtn,
.alert button {
  font-size: 25px;
}

h3,
p,
form,
form input,
form select,
form textarea,
.footer-nav,
.footer-nav h2,
.daily h2 {
  font-size: 20px;
}

form,
.service-section form input:nth-child(6) {
  margin-top: 10px;
}

form label,
.thanks .cards img {
  padding-top: 10px;
}

form label {
  text-align: left;
}

form fieldset,
.reserveBtn,
.weather:last-child div:nth-child(odd),
.weather:last-child div:nth-child(2) {
  margin-bottom: 10px;
}

form fieldset {
  padding: 20px;
}

form legend {
  padding: 0 10px;
}

form input,
form select,
form textarea {
  padding: 5px;
}

form textarea,
.hero-container,
.hero img,
.services .cards div:last-child picture img {
  width: 100%;
}

footer p,
.service-section p,
.service-section ul li,
.service-section form * {
  font-size: 16px;
}

footer,
.nav-bar,
.grid {
  display: grid;
}

footer,
.social-media,
.grid,
.weather,
.daily,
.service-section {
  gap: 10px;
}

footer,
.grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

footer div:nth-child(odd),
.boundary,
.room picture,
.service-section form,
.service-section p {
  margin: auto;
}

footer div:nth-child(3) p a,
.hero-container,
.alert div {
  position: relative;
}

footer div:nth-child(3) p img,
.hero-container a,
.alert button {
  position: absolute;
}

footer div:nth-child(3) p img {
  right: 70px;
  bottom: 0px;
}

footer div:nth-child(3) p:nth-child(5) {
  padding: 20px 10px 0;
}

footer div:nth-child(3) p,
footer div:nth-child(3) p a {
  font-weight: 600;
}

/* ID Selector */
#hamburgerBtn,
.alert button {
  width: 40px;
}

/* Class Selector */
.social-media {
  display: flex;
  justify-content: flex-end;
}

.nav-bar {
  font-size: 0px;
}

.nav-bar picture {
  padding-right: 10px;
}

.active,
.logo,
.info,
.alert div {
  background-color: #05386B;
}

.info,
.room h2 {
  grid-column: 1/3;
}

.boundary {
  border: 10px solid #05386B;
  width: fit-content;
  margin-top: 5px;
}

.all-caps {
  text-transform: uppercase;
}

.hero-container a,
.reserveBtn:hover,
.service-section form input:nth-child(6):hover {
  background-color: rgba(42, 50, 73, 0.7);
}

.hero-container a {
  bottom: 40px;
  left: 25%;
  right: 25%;
}

.home .cards .grid,
.decoration img,
.thanks .cards p {
  padding: 10px 0;
}

.home .cards .grid,
.decoration img {
  width: 95%;
}

.room ul li {
  text-align: left;
}

.alert p {
  font-size: 14px;
}


.service-section:nth-child(2) div {
  margin: auto 20px;
}

.service-section form {
  width: 300px;
}

.service-section p {
  width: 250px;
}

.weather:last-child,
.room {
  grid-template-columns: repeat(2, 1fr);
}

.weather {
  margin: 10px;
}

.weather:last-child div {
  background-color: #495063;
}

.weather div:first-child {
  grid-row: 1/4;
}

.alert {
  height: 100%;
}

.alert button {
  right: 10px;
}

@media (min-width: 21.875em) {
  .hero-container a {
    left: 30%;
    right: 30%;
  }
}

@media (min-width: 28.75em) {
  .hero-container a {
    left: 35%;
    right: 35%;
  }
}
