@media (min-width: 62.5em) {
  body,
  header,
  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  nav {
    background-color: #05386B;
    grid-row: 1;
  }

  nav ul.open,
  nav ul {
    display: flex;
  }

  nav ul li a {
    color: #EDF5E1;
  }

  #primary-nav li.active a,
  nav ul li a:hover {
    color: #5CDB95;
  }

  nav ul li a:hover {
    color: #5CDB95;
  }

  /* ID Selector */
  #hamburgerBtn {
    display: none;
  }

  /* Class Selector */
  .social-media {
    grid-column: 2;
  }

  .hero-container a {
    bottom: 60px;
  }

  .cards {
    margin: 10px auto 20px;
  }
}
