@media (min-width: 45em) {
  body {
    background-color: #5CDB95;
  }

  footer div:first-child {
    padding: 10px;
  }

  footer div:first-child {
    margin: auto;
  }

  footer div:nth-child(3),
  .footer-nav,
  .daily p {
    margin: auto 0;
  }

  /* Class Selector */
  .hero-container {
    position: relative;
    height: 332px;
  }

  .hero-container a {
    bottom: 140px;
  }

  .cards {
    padding: 20px;
    border-radius: 30px;
    width: 95%;
    margin: -80px auto 20px;
    align-self: auto;
  }

  .hero {
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .fresh,
  .weather:last-child,
  .daily {
    display: grid;
  }

  .footer-nav {
    display: block;
  }

  .info,
  .daily h2 {
    grid-column: 1/4;
  }

  .hero-container {
    grid-column: 1/3;
  }

  .fresh div.cards:nth-child(2) {
    grid-column: 2;
  }

  .fresh div.cards:nth-child(3) {
    grid-row: 2;
  }

  .reserveBtn,
  .weather:last-child div:nth-child(odd),
  .weather:last-child div:nth-child(2) {
    margin-bottom: 0;
  }

  .weather:last-child div:first-child {
    padding: 20% 0;
  }

  .daily {
    grid-template-columns: 150px 50px 1fr;
    grid-template-rows: auto 70px;
  }

  .daily p:nth-child(4) {
    text-align: left;
  }

  @media (min-width: 54.625em) {
    .home .cards .grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
