@media (min-width: 45em) {
  body {
    background-color: #2a3249;
  }

  footer div:first-child {
    padding: 10px;
  }

  footer div:first-child,
  .temple div:nth-child(2) {
    margin: auto;
  }

  footer div:nth-child(3),
  .footer-nav,
  .daily p {
    margin: auto 0;
  }

  /* Class Selector */
  .hero-container {
    position: relative;
    height: 332px;
  }

  .hero-container a {
    bottom: 140px;
  }

  .cards {
    padding: 20px;
    border-radius: 30px;
    width: 95%;
    margin: -80px auto 20px;
  }

  .hero {
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .temple,
  .reservations,
  .temples-section,
  .weather:last-child,
  .daily,
  .service-section {
    display: grid;
  }

  .temple {
    grid-auto-flow: column;
  }

  .footer-nav {
    display: block;
  }

  .info,
  .daily h2 {
    grid-column: 1/4;
  }

  .reservations,
  .temples-section,
  .service-section {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-container,
  .service-section h2 {
    grid-column: 1/3;
  }

  .temples-section div.cards:nth-child(2) {
    grid-column: 1;
  }

  .reservations div.cards:nth-child(2) {
    grid-column: 2;
  }

  .reservations div.cards:nth-child(3) {
    grid-row: 2;
  }

  .reserveBtn,
  .weather:last-child div:nth-child(odd),
  .weather:last-child div:nth-child(2) {
    margin-bottom: 0;
  }

  .temples-section div.cards:nth-child(4),
  .temples-section div.cards:nth-child(5) {
    margin: 0 auto 20px;
  }

  .service-section:first-child picture,
  .service-section:nth-child(2) form {
    grid-row: 2/5;
  }

  .service-section:nth-child(2) div {
    grid-row: 3;
  }

  .weather:last-child div:first-child {
    padding: 20% 0;
  }

  .daily {
    grid-template-columns: 150px 50px 1fr;
    grid-template-rows: auto 70px;
  }

  .daily p:nth-child(4) {
    text-align: left;
  }

  @media (min-width: 54.625em) {
    .home .cards .grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
}
