body{
    margin: .5rem;
    padding: .5rem;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 600px;
    height: auto;
    text-align: center;
}

.header {
    display: flex;
    background-color: #07037a;
    color: #ffffff;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
}

.profile {
    position: relative;
    right: 50px;
    box-shadow: 3px 5px 32px 8px rgba(0,0,0,0.36);
    width: 100px;
    height: 100px;
}

.main {
    padding: 1rem;
}

ul {
    text-align: center;
    list-style-position: inside;
}

.footer {
    background-color: #07037a;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    font-size: .9rem;
}

.footer span {
    text-decoration: underline;
}

.last-update {
    color: gold;
}